<template>
  <h1>Home</h1>
  <div v-if="$store.state.following.length">
    <h2>Following</h2>
    <ul>
      <li v-for="key in $store.state.following">
        <a :href="'#/' + key">{{ key }}</a>
      </li>
    </ul>
  </div>
  <form @submit="publishNote">
    <legend>Publishing to {{ writeServersList }}</legend>
    <label
      >Write anything:
      <input :disabled="publishing" v-model="text" />
    </label>
    <button :disabled="publishing">Publish</button>
  </form>
  <p>Data providers: {{ readServersList }}</p>
  <div v-if="$store.state.notes.size === 0">
    <p>Didn't find any notes to show.</p>
  </div>
  <div v-else>
    <div v-for="note in $store.state.notes.values()">
      <Note v-bind="note" :key="note.id" />
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {text: '', publishing: false}
    },
    computed: {
      readServersList() {
        return JSON.stringify(this.$store.getters.readServers)
          .replace(/"/g, '')
          .replace(/,/g, ' ')
      },
      writeServersList() {
        return JSON.stringify(this.$store.getters.writeServers)
          .replace(/"/g, '')
          .replace(/,/g, ' ')
      }
    },
    methods: {
      async publishNote(ev) {
        ev.preventDefault()
        this.publishing = true

        try {
          await this.$store.dispatch('publishNote', this.text)
          this.text = ''
        } catch (err) {
          console.log('error publishing', err)
        }
        this.publishing = false
      }
    }
  }
</script>

<style></style>
