<template>
  <h1>Home</h1>
  <div v-if="$store.state.following.length">
    <h2>Following</h2>
    <ul>
      <li v-for="key in $store.state.following">
        <a :href="'#/' + key">
          <Name :pubkey="key" />
        </a>
      </li>
    </ul>
  </div>
  <Publish />
  <p>Relays: {{ relays }}</p>
  <div v-if="$store.state.home.size === 0">
    <p>Didn't find any notes to show.</p>
  </div>
  <List v-else :notes="$store.state.home.values()" />
</template>

<script>
  import {pool} from './relay'

  export default {
    computed: {
      relays() {
        return Object.keys(pool.relays)
      }
    }
  }
</script>

<style scoped></style>
