<template>
  <div
    v-if="pubkey"
    :class="{Name: true, full}"
    @click="full = expandable ? !full : false"
  >
    <span
      class="petname"
      :title="petnames[0].length > 1 ? 'hierarchical petname' : 'our name for this user'"
      v-if="petnames.length"
      >{{ petnames[0].join('.') }}</span
    >
    <span
      class="petname"
      title="hierarchical petname"
      v-if="full && petnames.length > 1"
      v-for="petname in petnames.slice(1)"
      >{{ petname.join('.') }}</span
    >
    <span
      class="self-given"
      title="their own self-given name"
      v-if="(!petnames.length || full) && selfGiven"
      >{{ selfGiven }}</span
    >
    <span
      class="abbr"
      title="pubkey abbreviation"
      v-if="petnames.length === 0 && !selfGiven"
      >{{ abbr }}</span
    >
    <span v-if="$store.getters.pubKeyHex === pubkey"> (yourself)</span>
  </div>
</template>

<script>
  export default {
    props: ['pubkey', 'expandable'],
    data() {
      return {
        full: false
      }
    },
    computed: {
      petnames() {
        return (this.$store.state.petnames[this.pubkey] || [])
          .filter(name => !name[name.length - 1].match(/^[0-9a-f]{64}$/))
          .sort((a, b) => b.length - a.length)
      },
      selfGiven() {
        let theirOwnMetadata = this.$store.state.metadata.get(this.pubkey) || {}
        return theirOwnMetadata.name
      },
      abbr() {
        return this.pubkey.slice(0, 4) + '…' + this.pubkey.slice(-4)
      }
    }
  }
</script>

<style>
  .Name {
    display: inline-block;
    margin: 7px;
    padding: 3px;
  }
  .Name.full {
    display: block;
  }
  .Name .petname {
    background-color: lightgreen;
  }
  .Name .self-given {
    background-color: orange;
  }
  .Name .abbr {
    background-color: lightgrey;
  }
</style>
