<template>
  <article class="Note" :class="{ours: ours}">
    <div v-if="reference" class="reference">
      <Note :note="reference" />
    </div>
    <header class="pubkey">
      <a :href="'#/' + pubkey">
        <Name :pubkey="pubkey" />
      </a>
    </header>
    <p>{{ content }}</p>
    <footer>
      <div>
        <em>
          <a :href="'#/n/' + id"
            ><time :datetime="isoDate(created_at)" :title="isoDate(created_at)"
              >{{ humanDate(created_at) }}</time
            ></a
          >
        </em>
      </div>
      <div>
        <a @click="referencing = !referencing">Quote/Reply</a>
      </div>
      <div v-if="ours">
        <div
          class="publish-status"
          v-for="({time, status}, host) in ($store.state.publishStatus[id] || {})"
        >
          {{ host }}: {{ status }} @ {{ humanDate(time) }}
          <button v-if="status == 'failed'" @click="republish">retry</button>
        </div>
      </div>
    </footer>
    <Publish
      v-if="referencing"
      :reference="id"
      @publish="referencing = false"
    />
    <List v-if="isFullPage" :notes="related" />
  </article>
</template>

<script>
  import prettydate from 'pretty-date'

  import {pool} from './relay'

  export default {
    props: ['note'],
    data() {
      return {
        referencing: false
      }
    },
    computed: {
      isFullPage() {
        return !this.note
      },
      id() {
        return this.note ? this.note.id : this.$route.params.id
      },
      event() {
        return (
          this.note || this.$store.state.browsing.get(this.id.slice(0, 5)) || {}
        )
      },
      created_at() {
        return this.event.created_at && new Date(this.event.created_at * 1000)
      },
      content() {
        return this.event.content
      },
      pubkey() {
        return this.event.pubkey
      },
      reference() {
        if (this.isFullPage && this.event.ref) {
          return this.$store.state.browsing.get(this.event.ref.slice(0, 5))
        }
      },
      related() {
        var rel = []
        if (this.isFullPage) {
          for (let k of this.$store.state.browsing.keys()) {
            if (k.slice(0, 10) == 'rel:' + this.id.slice(0, 5) + ':') {
              rel.push(this.$store.state.browsing.get(k))
            }
          }
        }
        return rel
      },
      ours() {
        return this.pubkey === this.$store.getters.pubKeyHex
      }
    },
    methods: {
      isoDate(d) {
        if (typeof d === 'number') d = new Date(d * 1000)
        return d && d.toISOString()
      },
      humanDate(d) {
        if (typeof d === 'number') d = new Date(d * 1000)
        return d && prettydate.format(d)
      },
      republish(e) {
        e.preventDefault()
        pool.publish(this.note)
      }
    },
    mounted() {
      if (!this.note) {
        pool.reqEvent({id: this.$route.params.id})
      }
    }
  }
</script>

<style scoped>
  .Note {
    padding: 5px 10px;
    margin: 5px 0;
    border: 2px dotted;
  }
  .Note.ours {
    background-color: orange;
  }
  .Note p {
    margin: 0;
    padding-left: 20px;
  }
  .Note .reference {
    background-color: lightblue;
  }
  .Note .publish-status {
    font-size: 0.5em;
  }
  .Note footer {
    display: flex;
  }
  .Note footer > * {
    margin: 0 10px;
  }
</style>
