<template>
  <div class="Profile">
    <code class="canonical-pubkey">{{ $route.params.key }}</code>
    <h1>
      <form v-if="editingName !== null" @submit="setContactName">
        <label>
          Petname:
          <input v-model="editingName" />
          (Will be made public)
        </label>
        <button>Save</button>
        <button @click="editingName = null">Cancel</button>
      </form>
      <div v-else>
        <Name :pubkey="this.$route.params.key" expandable />
        <button
          v-if="!myself"
          @click="editingName = this.$store.getters.ourPetNameFor(this.$route.params.key) || ''"
        >
          Rename
        </button>
      </div>
    </h1>
    <div v-if="!myself">
      <button v-if="following" @click="unfollow">Unfollow</button>
      <button v-else @click="follow">Follow</button>
    </div>
    <article class="metadata">
      <form v-if="editingMetadata" @submit="saveEditedMetadata">
        <label>
          Picture URL:
          <input v-model="editingMetadata.picture" />
        </label>
        <label>
          Name:
          <input v-model="editingMetadata.name" />
        </label>
        About: <textarea v-model="editingMetadata.about"></textarea>
        <div>
          <button>Save</button>
          <button @click="editingMetadata = null">Cancel</button>
        </div>
      </form>
      <div v-else>
        <img v-if="(metadata.picture || '').length" :src="metadata.picture" />
        <h2>{{ metadata.name }}</h2>
        <div>{{ metadata.about }}</div>
        <button v-if="myself" @click="editingMetadata = {...metadata}">
          Edit
        </button>
      </div>
    </article>
    <List :notes="notes" />
  </div>
</template>

<script>
  import {pool} from './relay'

  export default {
    data() {
      return {
        editingMetadata: null,
        editingName: null
      }
    },
    computed: {
      myself() {
        return this.$route.params.key === this.$store.getters.pubKeyHex
      },
      metadata() {
        return this.$store.state.metadata.get(this.$route.params.key) || {}
      },
      following() {
        return (
          this.$store.state.following.indexOf(this.$route.params.key) !== -1
        )
      },
      notes() {
        var notes = []
        for (let k of this.$store.state.browsing.keys()) {
          if (
            k.slice(0, 11) ===
            'from:' + this.$route.params.key.slice(0, 5) + ':'
          ) {
            let note = this.$store.state.browsing.get(k)
            notes.push(note)
          }
        }
        notes.sort((a, b) => b.created_at - a.created_at)
        return notes
      }
    },
    methods: {
      follow(e) {
        e.preventDefault()
        this.$store.commit('follow', this.$route.params.key)
      },
      unfollow(e) {
        e.preventDefault()
        this.$store.commit('unfollow', this.$route.params.key)
      },
      saveEditedMetadata(e) {
        e.preventDefault()
        this.$store.dispatch('publishMetadata', this.editingMetadata)
        this.editingMetadata = null
      },
      setContactName(e) {
        e.preventDefault()
        this.$store.dispatch('setContactName', {
          pubkey: this.$route.params.key,
          name: this.editingName
        })
        this.editingName = null
      }
    },
    mounted() {
      pool.reqKey({key: this.$route.params.key})
    }
  }
</script>

<style>
  .Profile {
  }
  .Profile .metadata {
    margin: 5px;
    padding: 5px;
    border: dotted 2px orange;
  }
  .Profile .canonical-pubkey {
    display: block;
    white-space: pre-wrap;
    word-break: break-all;
    margin: 26px;
    text-decoration: underline;
    width: 300px;
  }
</style>
