<template>
  <section>
    <b>Secret Key:</b>
    <div v-if="typeof importing !== 'string'">
      {{ $store.state.key }}
      <button @click="importing = ''">
        Import a secret key from elsewhere
      </button>
    </div>
    <form v-else @submit="saveImported">
      <input v-model="importing" />
      <button :disabled="!isValidKey(importing)">Save</button>
      <button @click="importing = null">Cancel</button>
    </form>
  </section>
  <section>
    <b>{{ showingIgnored ? 'Ignored relays' : 'Relays' }}:</b>
    &nbsp;
    <a v-if="Object.keys($store.state.ignoredRelays).length" @click="showingIgnored = !showingIgnored"
      >show {{ showingIgnored ? 'active' : 'ignored' }}
    </a>
    <div v-if="showingIgnored" v-for="host in $store.state.ignoredRelays">
      {{ host }}
      <button @click="e => unignoreRelay(e, host)">Unignore</button>
    </div>
    <div v-else v-for="(relay, i) in (relays || []).concat(null)">
      <form v-if="editing === i" @submit="saveRelay">
        <label>
          URL:
          <input v-model="host" />
        </label>
        <label>
          Read:
          <input v-model="policy_r" type="checkbox" />
        </label>
        <label>
          Write:
          <input v-model="policy_w" type="checkbox" />
        </label>
        <button @click="cancelRelay">Cancel</button>
        <button>Save</button>
      </form>
      <div v-else>
        <span v-if="relay">
          {{ relay.host }}: {{ relay.policy }}
          <button @click="e => editRelay(e, i)">Edit</button>
          <button @click="e => recommendRelay(e, relay.host)">Recommend</button>
          <button @click="e => ignoreRelay(e, relay.host)">Ignore</button>
          <span v-if="relay.recommender"
            >recommended by:
            <a :href="'#/' + relay.recommender">
              <Name :pubkey="relay.recommender" /> </a
            >&nbsp;</span
          >
        </span>
        <span v-else>
          <button @click="e => editRelay(e, i)">Add</button>
        </span>
      </div>
    </div>
  </section>
</template>

<script>
  import {pool} from './relay'

  export default {
    data() {
      return {
        importing: null,
        showingIgnored: false,
        editing: null,
        host: '',
        policy_r: false,
        policy_w: false
      }
    },
    computed: {
      relays() {
        return Object.keys(pool.relays)
          .map(relayURL => {
            let relay = pool.relays[relayURL]

            return {
              host: relayURL,
              policy: `${relay.policy.read ? 'r' : ''}${relay.policy.write ? 'w' : ''}`
            }
          })
          .filter(({policy}) => policy !== 'i')
          .sort((a, b) => {
            let pa = a.policy
            let pb = b.policy
            if (pa === pb) return 0
            if (pa === 'rw') return 1
            if (pb === 'rw') return -1
            if (pa === 'w') return 1
            if (pb === 'w') return -1
            return 0
          })
      },
    },
    methods: {
      isValidKey(key) {
        if (typeof key !== 'string') return false
        if (key.length !== 64) return false
        if (!/^[0-9a-f]+$/.exec(key.toLowerCase())) return false
        return true
      },
      saveImported(e) {
        e.preventDefault()
        this.$store.dispatch('importSecretKey', this.importing)
        this.importing = null
      },
      cancelRelay(e) {
        e.preventDefault()
        e.stopPropagation()
        this.editing = null
      },
      editRelay(e, i) {
        e.preventDefault()
        if (i === this.relays.length) {
          this.host = ''
          this.policy_r = true
          this.policy_w = true
        } else {
          this.host = this.relays[i].host
          this.policy_r = this.relays[i].policy.indexOf('r') !== -1
          this.policy_w = this.relays[i].policy.indexOf('w') !== -1
        }
        this.editing = i
      },
      async saveRelay(e) {
        e.preventDefault()

        let relay = {
          host: this.host,
          policy: (this.policy_r ? 'r' : '') + (this.policy_w ? 'w' : '')
        }

        if (this.editing === this.relays.length) {
          await this.$store.dispatch('addRelay', relay)
        } else if (this.editing >= 0) {
          await this.$store.dispatch('updateRelay', {
            ...relay,
            key: this.relays[this.editing].host
          })
        }

        this.editing = null
        this.$forceUpdate()
      },
      async recommendRelay(e, host) {
        e.preventDefault()
        this.$store.dispatch('recommendRelay', host)
        this.$forceUpdate()
      },
      async ignoreRelay(e, host) {
        e.preventDefault()
        await this.$store.dispatch('updateRelay', {key: host, host, policy: 'i'})
        this.$forceUpdate()
      },
      async unignoreRelay(e, host) {
        e.preventDefault()
        await this.$store.dispatch('updateRelay', {key: host, host, policy: ''})
        this.$forceUpdate()
      }
    }
  }
</script>

<style scoped>
  section {
    margin: 10px;
  }
</style>
