<template>
  <section><b>Secret Key:</b> {{ $store.state.key }}</section>
  <section>
    <b>{{ showingIgnored ? 'Ignored relays' : 'Relays' }}:</b>
    &nbsp;
    <a v-if="ignored.length" @click="showingIgnored = !showingIgnored"
      >show {{ showingIgnored ? 'active' : 'ignored' }}
    </a>
    <div v-if="showingIgnored" v-for="(relay, i) in (ignored || [])">
      {{ relay.host }}
      <span v-if="relay.recommender"
        >recommended by:
        <a :href="'#/' + relay.recommender"
          >{{ $store.getters.keyName(relay.recommender) }}</a
        >&nbsp;</span
      >
      <button @click="e => unignoreRelay(e, relay.host)">Unignore</button>
    </div>
    <div v-else v-for="(relay, i) in (relays || []).concat(null)">
      <form v-if="editing === i" @submit="saveRelay">
        <label>
          URL:
          <input v-model="host" />
        </label>
        <label>
          Read:
          <input v-model="policy_r" type="checkbox" />
        </label>
        <label>
          Write:
          <input v-model="policy_w" type="checkbox" />
        </label>
        <button @click="cancelRelay">Cancel</button>
        <button>Save</button>
      </form>
      <div v-else>
        <span v-if="relay">
          {{ relay.host }}: {{ relay.policy }}
          <button @click="e => editRelay(e, i)">Edit</button>
          <button @click="e => recommendRelay(e, relay.host)">Recommend</button>
          <button @click="e => ignoreRelay(e, relay.host)">Ignore</button>
          <span v-if="relay.recommender"
            >recommended by:
            <a :href="'#/' + relay.recommender"
              >{{ $store.getters.keyName(relay.recommender) }}</a
            >&nbsp;</span
          >
        </span>
        <span v-else>
          <button @click="e => editRelay(e, i)">Add</button>
        </span>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        showingIgnored: false,
        editing: null,
        host: '',
        policy_r: false,
        policy_w: false
      }
    },
    computed: {
      relays() {
        return this.$store.state.relays
          .filter(({policy}) => policy !== 'i')
          .sort((a, b) => {
            let pa = a.policy
            let pb = b.policy
            if (pa === pb) return 0
            if (pa === 'rw') return 1
            if (pb === 'rw') return -1
            if (pa === 'w') return 1
            if (pb === 'w') return -1
            return 0
          })
      },
      ignored() {
        return this.$store.state.relays.filter(({policy}) => policy === 'i')
      }
    },
    methods: {
      cancelRelay(e) {
        e.preventDefault()
        e.stopPropagation()
        this.editing = null
      },
      editRelay(e, i) {
        e.preventDefault()
        if (i === this.relays.length) {
          this.host = ''
          this.policy_r = true
          this.policy_w = true
        } else {
          this.host = this.relays[i].host
          this.policy_r = this.relays[i].policy.indexOf('r') !== -1
          this.policy_w = this.relays[i].policy.indexOf('w') !== -1
        }
        this.editing = i
      },
      saveRelay(e) {
        e.preventDefault()

        let relay = {
          host: this.host,
          policy: (this.policy_r ? 'r' : '') + (this.policy_w ? 'w' : '')
        }

        if (this.editing === this.relays.length) {
          this.$store.dispatch('addRelay', relay)
        } else if (this.editing >= 0) {
          this.$store.dispatch('updateRelay', {
            ...relay,
            key: this.relays[this.editing].host
          })
        }

        this.editing = null
      },
      recommendRelay(e, host) {
        e.preventDefault()
        this.$store.dispatch('recommendRelay', host)
      },
      ignoreRelay(e, host) {
        e.preventDefault()
        this.$store.dispatch('updateRelay', {key: host, host, policy: 'i'})
      },
      unignoreRelay(e, host) {
        e.preventDefault()
        this.$store.dispatch('updateRelay', {key: host, host, policy: ''})
      }
    }
  }
</script>

<style scoped>
  section {
    margin: 10px;
  }
</style>
